<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.transaction" level="WARN"/>

    <!-- in order to debug some marshalling issues, this needs to be TRACE -->
    <logger name="org.springframework.web.servlet.mvc" level="WARN"/>

    <logger name="org.springframework.ws.client.MessageTracing.sent" level="TRACE"/>
    <logger name="org.springframework.ws.client.MessageTracing.received" level="TRACE"/>
    <logger name="org.springframework.ws.server.MessageTracing" level="TRACE"/>

    <logger name="org.experteam.efatura.cloud" additivity="false" level="DEBUG">
        <appender-ref ref="stdout"/>
    </logger>

    <!--<logger name="ma.glasnost.orika" additivity="false" level="DEBUG">
        <appender-ref ref="stdout"/>
    </logger>-->

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>